extends ../m_layout
block head
	link(href="/m_css/m_s_result.css", rel="stylesheet")
block content
	.container
		mixin inform(item)
			.s_poster
				img(src="#{item.poster}" ,alt="海报")
			.s_list
				.s_base
					h3.base_name
						span.c_highred #{item.base_name.name}
						span #{item.base_name.span}
					span.base_type #{item.base_name.base_type}
				.s_info
					if item.s_info.s_direct
						span.s_direct
							| 导演:
							em #{item.s_info.s_direct}
					else if item.s_info.s_collect
						span.s_collect
							em #{item.s_info.s_collect}
					span.s_area
						| 地区:
						em #{item.s_info.s_area}
					span.s_figure
						| #{item.s_info.s_figure_type}：
						- var length = item.s_info.s_figure.length
						- for(var i = 0 ; i < length ; i++)
							if(i != length-1)
								em= item.s_info.s_figure[i]+'/'
							else
								em= item.s_info.s_figure[i]
					
				case item.type
					when 'movie'
						if item.s_href !== 'none'
							.s_act
								a.btn_play(href="#{item.s_href}")
									i.ico_arrr
									| 播放正片
						else
							.s_act_no 该影片优酷也没有资源哦
					when 'tv'
						.s_act
							a.btn_play(href="#{item.s_items[0]}")
								i.ico_arrr
								| 播放
							a.choosePlay 选集
						.s_itemsBox(style="display:none")
							.playsTitle #{item.name}
							ul.s_items.clearfix
								- for(var i = 0 ;i < item.s_items.length; i++)
									li
										a(href="#{item.s_items[i]}") #{i+1}
						
					when 'variety'
						.s_act
							a.btn_play(href="#{item.s_items[0].href}")
								i.ico_arrr
								| 播放
							a.choosePlay 选集
						.s_itemsBox(style="display:none")
							.playsTitle #{item.name}
							ul.s_items.clearfix
								if item.s_items[0].pic
									- for(var i = 0 ; i < item.s_items.length; i++)
										if i < 2
											li.hot
												a(href="#{item.s_items[i].href}")
													.pic
														img(src="#{item.s_items[i].pic}")
														span #{item.s_items[i].date}
													.info
														.tit
															span.reg #{item.s_items[i].reg}
															| #{item.s_items[i].tit}
														p
															span 嘉宾：
															| #{item.s_items[i].guest}
										else
											li
												a(href="#{item.s_items[i].href}")
													span.name
														i.reg #{item.s_items[i].reg}
														| #{item.s_items[i].tit}
								else 
									each _item in item.s_items
										li
											a(href="#{_item.href}")
													span.name
														i.reg #{_item.reg}
														| #{_item.tit}
		if noresult
			.card.bgg
				if from == 'ysl'
					| 没有查询结果，管理员会陆续更新~看官可浏览近期更新内容~
					br
					| 建议看官单击上方搜索，切换为优酷搜索哦
				else
					| 优酷也没有查询到该资源哦~
					br
					| 看官可浏览近期更新内容~
		else
			each item in resObj
				.card
					.s_dir
						case item.type
							when 'movie'
								.s_movie.clearfix
									+inform(item)
							when 'tv'
								.s_tv.clearfix
									+inform(item)
							when 'variety'
								.s_variety.clearfix
									+inform(item)
			if from == 'ysl'
				.card.bgg 看官如果对内站搜索结果不满，可以通过上方切换为优酷搜索哦~
			else
				.card.bgg 通过内站进行搜索速度更快哦，可以通过上方切换为内站搜索哦~
		.m_choosePlay_curtain(style="display:none")

	script.
		$(function(){

			if($('.choosePlay')){

				$('.choosePlay').each(function(index, item){
					$(item).click(function(){
						var s_itemsBox = $('.s_itemsBox').eq(index);
						var m_choosePlay_curtain = $('.m_choosePlay_curtain');
						s_itemsBox.css('display', 'block');
						m_choosePlay_curtain.css('display', 'block');

						m_choosePlay_curtain.click(function(){
							var o = 1;
							var t = setInterval(function(){
								
								o -= 0.1;
								m_choosePlay_curtain.css('opacity', o)
								if(o <= 0.1){
									clearInterval(t);
									m_choosePlay_curtain.css('opacity','')
									m_choosePlay_curtain.css('display', 'none')
								}
								
							},30)
							s_itemsBox.css('display', 'none');
						})

					})
				})
				
			}

		});
		
								
					